.avia-section.av-axn5n-6427a3d3a203a1f6b7a9ea1b4792d16a{
background-color:#e0e0e0;
background-image:unset;
}

#top .av-special-heading.av-lglu20l9-c25bc208e86f4b9f232993401e3bd921{
padding-bottom:0;
color:#000000;
}
body .av-special-heading.av-lglu20l9-c25bc208e86f4b9f232993401e3bd921 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lglu20l9-c25bc208e86f4b9f232993401e3bd921 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-lglu20l9-c25bc208e86f4b9f232993401e3bd921 .av-subheading{
font-size:15px;
}

#top .hr.av-8jyif-a9a5eb0ecd237ae00b51a9486993fc9b{
margin-top:0;
margin-bottom:10px;
}
.hr.av-8jyif-a9a5eb0ecd237ae00b51a9486993fc9b .hr-inner{
width:50px;
}

#top .av-special-heading.av-lglnuomu-afaf09377714d77a0ac69c01e22c98c2{
padding-bottom:10px;
}
body .av-special-heading.av-lglnuomu-afaf09377714d77a0ac69c01e22c98c2 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lglnuomu-afaf09377714d77a0ac69c01e22c98c2 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-lglnrp7t-05aa66b8e205ca3dfc5790d4860ca2e9 .avia_textblock{
font-size:18px;
color:#000000;
text-align:justify;
}

@-webkit-keyframes av_boxShadowEffect_av-lglo6ouf-6049f23abb17db1004e6b5a163689436 {
0%   { box-shadow:  0 0 0 0 ; opacity: 1; }
100% { box-shadow:  0 0 19px 0 ; opacity: 1; }
}
@keyframes av_boxShadowEffect_av-lglo6ouf-6049f23abb17db1004e6b5a163689436 {
0%   { box-shadow:  0 0 0 0 ; opacity: 1; }
100% { box-shadow:  0 0 19px 0 ; opacity: 1; }
}
.avia-image-container.av-lglo6ouf-6049f23abb17db1004e6b5a163689436 img.avia_image{
box-shadow: 0 0 19px 0 ;
}
.avia-image-container.av-lglo6ouf-6049f23abb17db1004e6b5a163689436 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-13uvhr-90bc7985f384cc7c3a45cf4bab5ff66b{
background-color:#e0e0e0;
background-image:unset;
}

#top .av-special-heading.av-1murj-4d0f1dd88e90c3045f299071c4ff7d90{
padding-bottom:0;
color:#000000;
}
body .av-special-heading.av-1murj-4d0f1dd88e90c3045f299071c4ff7d90 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1murj-4d0f1dd88e90c3045f299071c4ff7d90 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-1murj-4d0f1dd88e90c3045f299071c4ff7d90 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-lglqyrua-c16bbb0d90bf5dafff407c7567446999 .avia_textblock{
font-size:28px;
color:#606060;
text-align:center;
}

#top .hr.av-lgko9ebl-5c23c4211ece9837af19b844b1a7ff6a{
margin-top:0;
margin-bottom:10px;
}
.hr.av-lgko9ebl-5c23c4211ece9837af19b844b1a7ff6a .hr-inner{
width:50px;
}

.flex_column.av-11vypr-3cf351d6e8183cf66243a081511d66d5{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-3oqbz-9b6baa3491229ce10c32eeb3718d41c9{
margin:0 0 10px 0;
padding-bottom:0;
color:#000000;
font-size:28px;
}
body .av-special-heading.av-3oqbz-9b6baa3491229ce10c32eeb3718d41c9 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-3oqbz-9b6baa3491229ce10c32eeb3718d41c9 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-3oqbz-9b6baa3491229ce10c32eeb3718d41c9 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-3oqbz-9b6baa3491229ce10c32eeb3718d41c9 .av-subheading{
font-size:15px;
}

.avia-image-container.av-10zsm3-953e379bf92c9a66d9f39859faafc7cf img.avia_image{
box-shadow:none;
}
.avia-image-container.av-10zsm3-953e379bf92c9a66d9f39859faafc7cf .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-ywdev-0c2ae976a174f2f0659baff5b2d96165{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lglr7usm-7fe8e9523411ed7fbf46eeabc6397f60{
margin:0 0 10px 0;
padding-bottom:0;
color:#000000;
font-size:28px;
}
body .av-special-heading.av-lglr7usm-7fe8e9523411ed7fbf46eeabc6397f60 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lglr7usm-7fe8e9523411ed7fbf46eeabc6397f60 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-lglr7usm-7fe8e9523411ed7fbf46eeabc6397f60 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-lglr7usm-7fe8e9523411ed7fbf46eeabc6397f60 .av-subheading{
font-size:15px;
}

.avia-image-container.av-y0yxn-2290366143e60389df8c2f54a6067992 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-y0yxn-2290366143e60389df8c2f54a6067992 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-vpe27-50d88ce2975e3f389675fc4943bf8308{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lglr84no-2cb83382db5fe47070791fe4c2b0423d{
margin:0 0 10px 0;
padding-bottom:0;
color:#000000;
font-size:28px;
}
body .av-special-heading.av-lglr84no-2cb83382db5fe47070791fe4c2b0423d .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lglr84no-2cb83382db5fe47070791fe4c2b0423d .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-lglr84no-2cb83382db5fe47070791fe4c2b0423d .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-lglr84no-2cb83382db5fe47070791fe4c2b0423d .av-subheading{
font-size:15px;
}

.avia-image-container.av-vjagn-d8d3541061cc630e771f8b6c37baf7fc img.avia_image{
box-shadow:none;
}
.avia-image-container.av-vjagn-d8d3541061cc630e771f8b6c37baf7fc .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-t11mb-7466c7d8377b5005918dc33403106cd0{
height:30px;
}

.flex_column.av-sklkf-70a4a4dd8fef113e0c965070ca29e819{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lglradpa-c4c8dbfcabdf2d6a0e3570418f056008{
margin:0 0 10px 0;
padding-bottom:0;
color:#000000;
font-size:28px;
}
body .av-special-heading.av-lglradpa-c4c8dbfcabdf2d6a0e3570418f056008 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lglradpa-c4c8dbfcabdf2d6a0e3570418f056008 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-lglradpa-c4c8dbfcabdf2d6a0e3570418f056008 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-lglradpa-c4c8dbfcabdf2d6a0e3570418f056008 .av-subheading{
font-size:15px;
}

.avia-image-container.av-rt4of-d70b63ffde4985a32a4dfad932bdd5d3 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-rt4of-d70b63ffde4985a32a4dfad932bdd5d3 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-pf5uj-ae37c66b96003e67bc7e2a42da35716f{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lglrasd0-45f2a3fd0fd083f37b01bf8c5211e911{
margin:0 0 10px 0;
padding-bottom:0;
color:#000000;
font-size:28px;
}
body .av-special-heading.av-lglrasd0-45f2a3fd0fd083f37b01bf8c5211e911 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lglrasd0-45f2a3fd0fd083f37b01bf8c5211e911 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-lglrasd0-45f2a3fd0fd083f37b01bf8c5211e911 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-lglrasd0-45f2a3fd0fd083f37b01bf8c5211e911 .av-subheading{
font-size:15px;
}

.avia-image-container.av-8tar-3a2dd88399b32dc4e87d528598308c6a img.avia_image{
box-shadow:none;
}
.avia-image-container.av-8tar-3a2dd88399b32dc4e87d528598308c6a .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-m55xj-00d62f538a8a4b4ad72e64d3267d8ab6{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lglrb5ae-482e89de35dcafe6cd208f70d0a0ebb4{
margin:0 0 10px 0;
padding-bottom:0;
color:#000000;
font-size:28px;
}
body .av-special-heading.av-lglrb5ae-482e89de35dcafe6cd208f70d0a0ebb4 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lglrb5ae-482e89de35dcafe6cd208f70d0a0ebb4 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-lglrb5ae-482e89de35dcafe6cd208f70d0a0ebb4 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-lglrb5ae-482e89de35dcafe6cd208f70d0a0ebb4 .av-subheading{
font-size:15px;
}

.avia-image-container.av-lwrjf-20349382e46115ff1a89888e2c4d0ef4 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lwrjf-20349382e46115ff1a89888e2c4d0ef4 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-7f7z-267103cb2acf052cd99a865dbf6b5920{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1d8e3-04e8b317f1c02434aa206e905761fb38{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lgkog2jv-d078fa4bb846e49e7333d63aafe3ec22{
padding-bottom:0;
color:#000000;
}
body .av-special-heading.av-lgkog2jv-d078fa4bb846e49e7333d63aafe3ec22 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lgkog2jv-d078fa4bb846e49e7333d63aafe3ec22 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-lgkog2jv-d078fa4bb846e49e7333d63aafe3ec22 .av-subheading{
font-size:15px;
}

.flex_column.av-x52j-348ff1f1b67342eda945bd381bc6eb5f{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-section.av-70vb-b7946834ffdb854004a4d935ed7529f5 .av-parallax .av-parallax-inner{
background-color:#ffffff;
background-image:url(https://pavrconstructiongroup.com/wp-content/uploads/2015/10/superb-backyard.jpg);
background-repeat:no-repeat;
background-position:50% 100%;
background-attachment:scroll;
}

#top .av-special-heading.av-6o27-6688ba0599ae9596a09b1cbec6062e1c{
padding-bottom:0;
color:#ffffff;
}
body .av-special-heading.av-6o27-6688ba0599ae9596a09b1cbec6062e1c .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-6o27-6688ba0599ae9596a09b1cbec6062e1c .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-6o27-6688ba0599ae9596a09b1cbec6062e1c .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-lgkppwkk-7c59d88e5c22107ea62c43746f0d23ad{
height:30px;
}

#top .flex_column.av-6wbzf-93726c207d538b7be45acdd4e5e6379d{
margin-top:20px;
margin-bottom:20px;
}
.flex_column.av-6wbzf-93726c207d538b7be45acdd4e5e6379d{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:20px 20px 20px 20px;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_column.av-6wbzf-93726c207d538b7be45acdd4e5e6379d{
margin-top:20px;
margin-bottom:20px;
}

#top .flex_column.av-lguv8vv3-0f3258fcaf59d0505b366d106208e4d3{
margin-top:20px;
margin-bottom:20px;
}
.flex_column.av-lguv8vv3-0f3258fcaf59d0505b366d106208e4d3{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:20px 20px 20px 20px;
}
.responsive #top #wrap_all .flex_column.av-lguv8vv3-0f3258fcaf59d0505b366d106208e4d3{
margin-top:20px;
margin-bottom:20px;
}

#top .flex_column.av-6ax87-dadc03edf73b021de58707219cb2d11d{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-6ax87-dadc03edf73b021de58707219cb2d11d{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-6ax87-dadc03edf73b021de58707219cb2d11d{
margin-top:0px;
margin-bottom:0px;
}

.iconbox.av-lgkpnkg8-edacf453b2aab2d8bf8b7aa4fbfc42d5 .iconbox_icon{
background-color:#ffffff;
border:1px solid #ffffff;
color:#000000;
}
#top #wrap_all .iconbox.av-lgkpnkg8-edacf453b2aab2d8bf8b7aa4fbfc42d5 .iconbox_content_title{
font-size:33px;
}
.iconbox.av-lgkpnkg8-edacf453b2aab2d8bf8b7aa4fbfc42d5 .iconbox_content_container{
font-size:22px;
}

.iconbox.av-lgls8miy-121a6f1da8c8d3a09a42905a7fa0a988 .iconbox_icon{
background-color:#ffffff;
border:1px solid #ffffff;
color:#000000;
}
#top #wrap_all .iconbox.av-lgls8miy-121a6f1da8c8d3a09a42905a7fa0a988 .iconbox_content_title{
font-size:33px;
}
.iconbox.av-lgls8miy-121a6f1da8c8d3a09a42905a7fa0a988 .iconbox_content_container{
font-size:22px;
}

.iconbox.av-c8pdb-40355cebfaa2f61f80c2256fc6e42810 .iconbox_icon{
background-color:#ffffff;
border:1px solid #ffffff;
color:#000000;
}
#top #wrap_all .iconbox.av-c8pdb-40355cebfaa2f61f80c2256fc6e42810 .iconbox_content_title{
font-size:33px;
}
.iconbox.av-c8pdb-40355cebfaa2f61f80c2256fc6e42810 .iconbox_content_container{
font-size:14px;
}


@media only screen and (min-width: 990px){ 
#top .flex_column.av-6wbzf-93726c207d538b7be45acdd4e5e6379d{
margin-top:20px;
margin-bottom:20px;
}
.responsive #top #wrap_all .flex_column.av-6wbzf-93726c207d538b7be45acdd4e5e6379d{
margin-top:20px;
margin-bottom:20px;
}

#top .flex_column.av-lguv8vv3-0f3258fcaf59d0505b366d106208e4d3{
margin-top:20px;
margin-bottom:20px;
}
.responsive #top #wrap_all .flex_column.av-lguv8vv3-0f3258fcaf59d0505b366d106208e4d3{
margin-top:20px;
margin-bottom:20px;
}
}

@media only screen and (min-width: 768px) and (max-width: 989px){ 
#top .flex_column.av-6wbzf-93726c207d538b7be45acdd4e5e6379d{
margin-top:20px;
margin-bottom:20px;
}
.responsive #top #wrap_all .flex_column.av-6wbzf-93726c207d538b7be45acdd4e5e6379d{
margin-top:20px;
margin-bottom:20px;
}

#top .flex_column.av-lguv8vv3-0f3258fcaf59d0505b366d106208e4d3{
margin-top:20px;
margin-bottom:20px;
}
.responsive #top #wrap_all .flex_column.av-lguv8vv3-0f3258fcaf59d0505b366d106208e4d3{
margin-top:20px;
margin-bottom:20px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-3oqbz-9b6baa3491229ce10c32eeb3718d41c9 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lglr7usm-7fe8e9523411ed7fbf46eeabc6397f60 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lglr84no-2cb83382db5fe47070791fe4c2b0423d .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lglradpa-c4c8dbfcabdf2d6a0e3570418f056008 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lglrasd0-45f2a3fd0fd083f37b01bf8c5211e911 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lglrb5ae-482e89de35dcafe6cd208f70d0a0ebb4 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-6wbzf-93726c207d538b7be45acdd4e5e6379d{
margin-top:20px;
margin-bottom:20px;
}
.responsive #top #wrap_all .flex_column.av-6wbzf-93726c207d538b7be45acdd4e5e6379d{
margin-top:20px;
margin-bottom:20px;
}

#top .flex_column.av-lguv8vv3-0f3258fcaf59d0505b366d106208e4d3{
margin-top:20px;
margin-bottom:20px;
}
.responsive #top #wrap_all .flex_column.av-lguv8vv3-0f3258fcaf59d0505b366d106208e4d3{
margin-top:20px;
margin-bottom:20px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-3oqbz-9b6baa3491229ce10c32eeb3718d41c9 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lglr7usm-7fe8e9523411ed7fbf46eeabc6397f60 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lglr84no-2cb83382db5fe47070791fe4c2b0423d .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lglradpa-c4c8dbfcabdf2d6a0e3570418f056008 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lglrasd0-45f2a3fd0fd083f37b01bf8c5211e911 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lglrb5ae-482e89de35dcafe6cd208f70d0a0ebb4 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-6wbzf-93726c207d538b7be45acdd4e5e6379d{
margin-top:20px;
margin-bottom:20px;
}
.responsive #top #wrap_all .flex_column.av-6wbzf-93726c207d538b7be45acdd4e5e6379d{
margin-top:20px;
margin-bottom:20px;
}

#top .flex_column.av-lguv8vv3-0f3258fcaf59d0505b366d106208e4d3{
margin-top:20px;
margin-bottom:20px;
}
.responsive #top #wrap_all .flex_column.av-lguv8vv3-0f3258fcaf59d0505b366d106208e4d3{
margin-top:20px;
margin-bottom:20px;
}
}
